[flake8]

ignore =
    E128  # continuation line under-indented for visual indent
    E731  # do not assign a lambda expression, use a def
    E221  # multiple spaces before operator
    E704  # multiple statements on one line (def)
    W503  # line break before binary operator

max-line-length =
    120

exclude =
    tests/*

max-complexity =
    12
